<section class="home-slider owl-carousel">
    <div class="slider-item" style="background-image: url('images/bg_5.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text align-items-center">
                <div class="col-md-7 col-sm-12 ftco-animate">
                    <h1 class="mb-3">Login</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END slider -->

<div id="form">
    <h2>Login</h2>
    <form action="/login" method="POST">
        <label>Username
            <input type="text" name="username" placeholder="ironhacker2020" />
        </label>

        <label>Password
            <input type="password" name="password" placeholder="********" />
        </label>

        <button type="submit">Login</button>

        {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
        {{/if}}
    </form>
</div>