<div class="main">
	
	<form action="/find-destination" method="post">

	<h3>Continent</h3>
	<input type="checkbox" id="all" name="coordinates" value="lon_min=-180&lon_max=180&lat_min=-85&lat_max=85" checked>
	<label for="all">All</label>

	<input type="checkbox" id="africa" name="coordinates" value="lon_min=-17.53&lon_max=51.2667&lat_min=-34.8333&lat_max=37.3500">
	<label for="africa">Africa</label>

	<input type="checkbox" id="asia" name="coordinates" value="lon_min=-169.666667&lon_max=26.066667&lat_min=1.266667&lat_max=77.716667">
	<label for="asia">Asia</label>

	<input type="checkbox" id="australia" name="coordinates" value="lon_min=113.15&lon_max=153.633333&lat_min=-39.133333&lat_max=-10.683333">
	<label for="australia">Australia</label>

	<input type="checkbox" id="europe" name="coordinates" value="lon_min=-9.498361&lon_max=66.618056&lat_min=36.0025&lat_max=71.1337">
	<label for="europe">Europe</label>

	<input type="checkbox" id="north_america" name="coordinates" value="lon_min=-132.817993&lon_max=-55.61916419&lat_min=7.250&lat_max=72.0">
	<label for="north_america">North America</label>

	<input type="checkbox" id="south_america" name="coordinates" value="lon_min=-81.3225&lon_max=-34.7914668341&lat_min=-53.9333&lat_max=12.4547">
	<label for="south_america">South America</label><br>


	<h3>City Size</h3>
	<label for="citySizeInput"><input id="citySizeInput" name="citySize" type="number"></label><br>


	<h3>Categories</h3>

	<input type="checkbox" id="art_galleries" name="categories" value="art_galleries" checked>
	<label for="art_galleries">Art</label>

	<input type="checkbox" id="architecture" name="categories" value="architecture">
	<label for="architecture">Architecture</label>

	<input type="checkbox" id="nightclubs" name="categories" value="nightclubs">
	<label for="nightclubs">Night Life</label>

	<input type="checkbox" id="beaches" name="categories" value="beaches">
	<label for="beaches">Beaches</label><br>

	<input type="checkbox" id="hot_springs" name="categories" value="hot_springs">
	<label for="hot_springs">Hot Springs</label>

	<input type="checkbox" id="foods" name="categories" value="foods">
	<label for="foods">Food</label>

	<input type="checkbox" id="shops" name="categories" value="shops">
	<label for="shops">Shopping</label>

	<input type="checkbox" id="national_parks" name="categories" value="national_parks">
	<label for="national_parks">National Parks</label>
	<br>

	<button>Search</button>
</form>
</div>