<section class="home-slider owl-carousel">
	<div class="slider-item" style="background-image: url('images/bg_4.jpg');">
		<div class="overlay"></div>
		<div class="container">
			<div class="row slider-text align-items-center">
				<div class="col-md-7 col-sm-12 ftco-animate">
					<h1 class="mb-3">Find your dream destination</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="slider-item" style="background-image: url('images/bg_1.jpg');">
		<div class="overlay"></div>
		<div class="container">
			<div class="row slider-text align-items-center">
				<div class="col-md-7 col-sm-12 ftco-animate">
					<h1 class="mb-3">Experience the best trip ever</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="slider-item" style="background-image: url('images/bg_3.jpg');">
		<div class="overlay"></div>
		<div class="container">
			<div class="row slider-text align-items-center">
				<div class="col-md-7 col-sm-12 ftco-animate">
					<h1 class="mb-3">Making the most out of your holiday</h1>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END slider -->

<div class="separator destination-list">
	<span>Find your top destinations based on your interests</span>
</div>


{{!-- Form --}}
<div class="main">

	<br>
  <div class="error-container">
    {{#if errorMessage}}
    <p class="alert alert-danger alert-dismissible fade show">{{errorMessage}}</p>
    {{/if}}
  </div>

	<form action="/find-destination" method="post">

<div> 
		<h3>Region</h3>

		{{!-- All --}}
		<label for="all" class="btn btn-primary"> <input type="radio" id="all" name="coordinates" class="hide-cb"
				value="lon_min=-180&lon_max=180&lat_min=-85&lat_max=85" checked>
			All</label>


		{{!-- Africa --}}
		<p>Africa</p>
		<label for="africa" class="btn btn-outline-primary"> <input type="radio" id="africa" name="coordinates"
				class="hide-cb" value="lon_min=-24.257813&lon_max=36.562500&lat_min=-35.460670&lat_max=34.016242">
			All</label>

		<label for="north_africa" class="btn btn-outline-primary"> <input type="radio" id="north_africa" name="coordinates"
				class="hide-cb" value="lon_min=-17.006744&lon_max=34.297943&lat_min=9.644077&lat_max=34.759666">
			North Africa</label>

		<label for="south_africa" class="btn btn-outline-primary"> <input type="radio" id="south_africa" name="coordinates"
				class="hide-cb" value="lon_min=-17.578125&lon_max=52.207031&lat_min=-35.029996&lat_max=12.382928">
			South Africa</label>


		{{!-- Asia --}}
		<p>Asia</p>
		<label for="asia" class="btn btn-outline-primary"> <input type="radio" id="asia" name="coordinates" class="hide-cb"
				value="lon_min=40.323944&lon_max=149.308319&lat_min=-7.851818&lat_max=47.539919">
			Asia</label>

			<label for="russia" class="btn btn-outline-primary"> <input type="radio" id="russia" name="coordinates" class="hide-cb"
				value="lon_min=28.540421&lon_max=119.595108&lat_min=50.706025&lat_max=69.943962">
			Russia</label>


		{{!-- Europe & Australia --}}
		<p>Europe & Australia</p>

		<label for="europe" class="btn btn-outline-primary"> <input type="radio" id="europe" name="coordinates"
				class="hide-cb" value="lon_min=-10.618286&lon_max=26.471558&lat_min=37.506185&lat_max=70.581934">
			Europe</label>

		<label for="northern_europe" class="btn btn-outline-primary"> <input type="radio" id="northern_europe"
				name="coordinates" class="hide-cb" value="lon_min=-12.058182&lon_max=39.973068&lat_min=48.124851&lat_max=70.795495">
			Northern Europe</label>

		<label for="southern_europe" class="btn btn-outline-primary"> <input type="radio" id="southern_europe"
				name="coordinates" class="hide-cb" value="lon_min=-10.759735&lon_max=30.107452&lat_min=36.987197&lat_max=47.667237">
			Southern Europe</label>

		<label for="australia" class="btn btn-outline-primary"> <input type="radio" id="australia" name="coordinates"
				class="hide-cb" value="lon_min=110.753860&lon_max=179.308548&lat_min=-46.868642&lat_max=-11.104294">
			Australia</label>


		{{!-- North America --}}
		<p>North America</p>

		<label for="north_america" class="btn btn-outline-primary"> <input type="radio" id="north_america"
				name="coordinates" class="hide-cb"
				value="lon_min=-162.215195&lon_max=-55.340195&lat_min=13.633308&lat_max=70.336537">
			All</label>

		<label for="canada_us" class="btn btn-outline-primary"> <input type="radio" id="canada_us" name="coordinates"
				class="hide-cb" value="lon_min=-134.208641&lon_max=-54.403954&lat_min=27.846058&lat_max=59.538321">
			Canada & United States</label>

		<label for="mexico" class="btn btn-outline-primary"> <input type="radio" id="mexico" name="coordinates"
				class="hide-cb" value="lon_min=-115.807056&lon_max=-86.671314&lat_min=18.207339&lat_max=27.049036">
			Mexico</label>

		<label for="central_america" class="btn btn-outline-primary"> <input type="radio" id="central_america"
				name="coordinates" class="hide-cb"
				value="lon_min=-91.086016&lon_max=-77.902422&lat_min=7.157018&lat_max=17.802549">
			Central America</label>

		{{!-- South America --}}
		<p>South America</p>

		<label for="south_america" class="btn btn-outline-primary"> <input type="radio" id="south_america"
				name="coordinates" class="hide-cb"
				value="lon_min=-81.920242&lon_max=-33.931961&lat_min=-55.001913&lat_max=10.801607">
			All</label>

		<label for="northern_south_america" class="btn btn-outline-primary"> <input type="radio" id="northern_south_america"
				name="coordinates" class="hide-cb"
				value="lon_min=-80.545235&lon_max=-34.314766&lat_min=-17.887926&lat_max=11.788719">
			South America (Northern)</label>

		<label for="southern_south_america" class="btn btn-outline-primary"> <input type="radio" id="southern_south_america"
				name="coordinates" class="hide-cb"
				value="lon_min=-74.513054&lon_max=-40.000000&lat_min=-56.098854&lat_max=-17.522273">
			South America (Southern)</label>
</div>

<div class="categories"> 
		<h3>Categories</h3>

		<label for="art_galleries" class="btn btn-outline-primary">
			<input type="checkbox" id="art_galleries" name="categories" value="art_galleries" class="hide-cb">
			Art</label>

		<label for="architecture" class="btn btn-outline-primary">
			<input type="checkbox" id="architecture" name="categories" value="architecture" class="hide-cb">
			Architecture</label>

		<label for="nightclubs" class="btn btn-outline-primary">
			<input type="checkbox" id="nightclubs" name="categories" value="nightclubs" class="hide-cb">
			Night Life</label>

		<label for="natural" class="btn btn-outline-primary">
			<input type="checkbox" id="natural" name="categories" value="natural" class="hide-cb">
			Nature</label>

		<label for="beaches" class="btn btn-outline-primary">Beaches
			<input type="checkbox" id="beaches" name="categories" value="beaches" class="hide-cb">
		</label>

		<label for="hot_springs" class="btn btn-outline-primary">
			<input type="checkbox" id="hot_springs" name="categories" value="hot_springs,springs_others" class="hide-cb">
			Hot Springs</label>

		<label for="foods" class="btn btn-outline-primary">
			<input type="checkbox" id="foods" name="categories" value="foods" class="hide-cb">
			Food</label>

		<label for="shops" class="btn btn-outline-primary">
			<input type="checkbox" id="shops" name="categories" value="shops" class="hide-cb">
			Shopping</label>

		<label for="national_parks" class="btn btn-outline-primary">
			<input type="checkbox" id="national_parks" name="categories" value="national_parks" class="hide-cb">
			National Parks</label>

		<label for="amusement_parks" class="btn btn-outline-primary">
			<input type="checkbox" id="amusement_parks" name="categories" value="amusement_parks" class="hide-cb">
			Amusement Parks</label>

		<label for="water_parks" class="btn btn-outline-primary">
			<input type="checkbox" id="water_parks" name="categories" value="water_parks" class="hide-cb">
			Water Parks</label>

		<label for="skiing" class="btn btn-outline-primary">
			<input type="checkbox" id="skiing" name="categories" value="skiing" class="hide-cb">
			Skiing</label>

		<label for="surfing" class="btn btn-outline-primary">
			<input type="checkbox" id="surfing" name="categories" value="surfing" class="hide-cb">
			Surfing</label>

		<label for="museums" class="btn btn-outline-primary">
			<input type="checkbox" id="museums" name="categories" value="museums" class="hide-cb">
			Museums</label>

		<label for="circuses" class="btn btn-outline-primary">
			<input type="checkbox" id="circuses" name="categories" value="circuses" class="hide-cb">
			Circuses</label>

		<label for="gardens_and_parks" class="btn btn-outline-primary">
			<input type="checkbox" id="gardens_and_parks" name="categories" value="gardens_and_parks" class="hide-cb">
			Gardens</label>

		<label for="pyramids" class="btn btn-outline-primary">
			<input type="checkbox" id="pyramids" name="categories" value="pyramids" class="hide-cb">
			Pyramids</label>

		<label for="aquariums" class="btn btn-outline-primary">
			<input type="checkbox" id="aquariums" name="categories" value="aquariums" class="hide-cb">
			Aquariums</label>

		<label for="zoos" class="btn btn-outline-primary">
			<input type="checkbox" id="zoos" name="categories" value="zoos" class="hide-cb">
			Zoos</label>

		<label for="bars" class="btn btn-outline-primary">
			<input type="checkbox" id="bars" name="categories" value="bars" class="hide-cb">
			Bars</label>

		<label for="cafes" class="btn btn-outline-primary">
			<input type="checkbox" id="cafes" name="categories" value="cafes" class="hide-cb">
			Cafes</label>

		<label for="bakeries" class="btn btn-outline-primary">
			<input type="checkbox" id="bakeries" name="categories" value="bakeries" class="hide-cb">
			Bakeries</label>

		<label for="archaeology" class="btn btn-outline-primary">
			<input type="checkbox" id="archaeology" name="categories" value="archaeology" class="hide-cb">
			Archaeology</label>

		<label for="waterfalls" class="btn btn-outline-primary">
			<input type="checkbox" id="waterfalls" name="categories" value="waterfalls" class="hide-cb">
			Waterfalls</label>

		<label for="cathedrals" class="btn btn-outline-primary">
			<input type="checkbox" id="cathedrals" name="categories" value="cathedrals" class="hide-cb">
			Cathedrals</label>
			</div>

		<br><button type="submit" class="btn btn-primary py-2 px-5">Search</button>

		<br><br><b><small>*Results might contain relevant cities from neighboring regions</small></b>

	</form>
</div><br>

<section class="ftco-section-2">
	<div class="container-fluid d-flex">
		<div class="section-2-blocks-wrapper row no-gutters">
			<div class="img col-sm-12 col-lg-6" style="background-image: url('images/tour-1.jpg');">
			</div>
			<div class="text col-lg-6 ftco-animate">
				<div class="text-inner align-self-start">

					<h3>Welcome to Destination Finder</h3>
					<p>Ever wanted to take a vacation, but weren't sure where to go? You've come to the right place.</p>

					<p>Destination Finder will help you find the perfect spot to visit based on your interests. You can specify a general area you had in mind (or choose "All" if you're open to anything) and then pick one or a combination of interests that will help us generate a list of the top destinations for you! </p>
					
					<p>From there you can "favorite" the ones that sound interesting and find out more about each individual place by visiting the details page! </p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<h1 class="text-center">Top Destinations Around the World</h1><br>
		<div class="row">
				
			<div class="col-lg-3 promo ftco-animate">
			
				<a href="/city/London,_United%20Kingdom" class="promo-img mb-4" style="background-image: url(images/london.jpg);"></a>
				<div class="text text-center">
					<h2>London</h2>
					<span>United Kingdom</span><br>
					<a href="/city/London,_United%20Kingdom" class="read">Read more</a>
				</div>
			</div>
			<div class="col-lg-3 promo ftco-animate">
				<a href="/city/Paris,_France" class="promo-img mb-4" style="background-image: url(images/paris.jpg);"></a>
				<div class="text text-center">
					<h2>Paris</h2>
					<span>France</span><br>
					<a href="/city/Paris,_France" class="read">Read more</a>
				</div>
			</div>
			<div class="col-lg-3 promo ftco-animate">
				<a href="/city/Rome,_Italy" class="promo-img mb-4" style="background-image: url(images/rome.jpg);"></a>
				<div class="text text-center">
					<h2>Rome</h2>
					<span>Italy</span><br>
					<a href="/city/Rome,_Italy" class="read">Read more</a>
				</div>
			</div>
			<div class="col-lg-3 promo ftco-animate">
				<a href="/city/Bali,_Indonesia" class="promo-img mb-4" style="background-image: url(images/bali.jpg);"></a>
				<div class="text text-center">
					<h2>Bali</h2>
					<span>Indonesia</span><br>
					<a href="/city/Bali,_Indonesia" class="read">Read more</a>
				</div>
			</div>
		</div>
	</div>
</section>

 <section class="ftco-section">
	<div class="container-fluid">
		<div class="row no-gutters justify-content-center mb-5 pb-5 ftco-animate">
			<div class="col-md-7 text-center heading-section">
				<h1>Explore Destinations</h1>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="col-md-6 col-lg-3 ftco-animate">
				<a href="/city/Phuket,_Thailand" class="block-5" style="background-image: url('images/phuket.jpg');">
					<div class="text">
						<h3 class="heading">Phuket, Thailand</h3>
						<div class="post-meta">
						</div>
						<p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span
								class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<a href="/city/Barcelona,_Spain" class="block-5" style="background-image: url('images/barcelona.jpg');">
					<div class="text">
						<h3 class="heading">Barcelona, Spain</h3>
						<div class="post-meta">
						</div>
						<p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span
								class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<a href="/city/Istanbul,_Turkey" class="block-5" style="background-image: url('images/istanbul.jpg');">
					<div class="text">
						<h3 class="heading">Istanbul, Turkey</h3>
						<div class="post-meta">
						</div>
						<p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span
								class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<a href="/city/Marrakesh,_Morocco" class="block-5" style="background-image: url('images/marrakesh.jpg');">
					<div class="text">
						<h3 class="heading">Marrakesh, Morocco</h3>
						<div class="post-meta">
						</div>
						<p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span
								class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<a href="/city/Dubai,_United Arab Emirates" class="block-5" style="background-image: url('images/dubai.jpg');">
					<div class="text">
						<h3 class="heading">Dubai, United Arab Emirates</h3>
						<div class="post-meta">
						</div>
						<p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span
								class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<a href="/city/Prague,_Czech Republic" class="block-5" style="background-image: url('images/prague.jpg');">
					<div class="text">
						<h3 class="heading">Prague, Czech Republic</h3>
						<div class="post-meta">
						</div>
						<p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span
								class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<a href="/city/Tokyo,_Japan" class="block-5" style="background-image: url('images/tokyo.jpg');">
					<div class="text">
						<h3 class="heading">Tokyo, Japan</h3>
						<div class="post-meta">
						</div>
						<p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span
								class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<a href="/city/Hanoi,_Vietnam" class="block-5" style="background-image: url('images/hanoi.jpg');">
					<div class="text">
						<h3 class="heading">Hanoi, Vietnam</h3>
						<div class="post-meta">
						</div>
						<p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span
								class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
