<section class="home-slider owl-carousel">
	<div class="slider-item" style="background-image: url('images/bg_4.jpg');">
		<div class="overlay"></div>
		<div class="container">
			<div class="row slider-text align-items-center">
				<div class="col-md-7 col-sm-12 ftco-animate">
					<h1 class="mb-3">Find your dream destination</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="slider-item" style="background-image: url('images/bg_1.jpg');">
		<div class="overlay"></div>
		<div class="container">
			<div class="row slider-text align-items-center">
				<div class="col-md-7 col-sm-12 ftco-animate">
					<h1 class="mb-3">Experience the best trip ever</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="slider-item" style="background-image: url('images/bg_3.jpg');">
		<div class="overlay"></div>
		<div class="container">
			<div class="row slider-text align-items-center">
				<div class="col-md-7 col-sm-12 ftco-animate">
					<h1 class="mb-3">Making the most out of your holiday</h1>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- END slider -->

<div class="separator destination-list">
	<span>Find your top destinations based on your interests</span>
</div>


{{!-- Form --}}
<div class="main">

	<form action="/find-destination" method="post">

		<h3>Region</h3>
		{{!-- lon_min=&lon_max=&lat_min=&lat_max= --}}
		<label for="all" class="btn btn-outline-primary"> <input type="checkbox" id="all" name="coordinates" class="hide-cb"
				value="lon_min=-180&lon_max=180&lat_min=-85&lat_max=85">
			All</label>

		{{!-- lon_min=&lon_max=&lat_min=&lat_max= --}}
		<label for="africa" class="btn btn-outline-primary"> <input type="checkbox" id="africa" name="coordinates"
				class="hide-cb" value="lon_min=-17.53&lon_max=51.2667&lat_min=-34.8333&lat_max=37.3500">
			Africa</label>

		{{!-- lon_min=&lon_max=&lat_min=&lat_max= --}}
		<label for="asia" class="btn btn-outline-primary"> <input type="checkbox" id="asia" name="coordinates"
				class="hide-cb" value="lon_min=-169.666667&lon_max=26.066667&lat_min=1.266667&lat_max=77.716667">
			Asia</label>

		{{!-- lon_min=&lon_max=&lat_min=&lat_max= --}}
		<label for="australia" class="btn btn-outline-primary"> <input type="checkbox" id="australia" name="coordinates"
				class="hide-cb" value="lon_min=113.15&lon_max=153.633333&lat_min=-39.133333&lat_max=-10.683333">
			Australia</label>

		{{!-- lon_min=&lon_max=&lat_min=&lat_max= --}}
		<label for="europe" class="btn btn-outline-primary"> <input type="checkbox" id="europe" name="coordinates"
				class="hide-cb" value="lon_min=-9.498361&lon_max=66.618056&lat_min=36.0025&lat_max=71.1337">
			Europe</label>

		<br>

		<p>North America</p>
		<label for="canada_us" class="btn btn-outline-primary"> <input type="checkbox" id="canada_us" name="coordinates"
				class="hide-cb" value="lon_min=-134.208641&lon_max=-54.403954&lat_min=27.846058&lat_max=59.538321">
			Canada & United States</label>

		{{!-- lon_min=&lon_max=&lat_min=&lat_max= --}}
		<label for="mexico" class="btn btn-outline-primary"> <input type="checkbox" id="mexico" name="coordinates"
				class="hide-cb" value="lon_min=-162.943726&lon_max=-61.517944&lat_min=38.841312&lat_max=69.787257">
			Mexico</label>

		{{!-- lon_min=&lon_max=&lat_min=&lat_max= --}}
		<label for="central_america" class="btn btn-outline-primary"> <input type="checkbox" id="central_america"
				name="coordinates" class="hide-cb"
				value="lon_min=-90.435505&lon_max=-77.493610&lat_min=7.778605&lat_max=17.771819">
			Central America</label>

		<p>South America</p>

		{{!-- lon_min=&lon_max=&lat_min=&lat_max= --}}
		<label for="northern_south_america" class="btn btn-outline-primary"> <input type="checkbox"
				id="northern_south_america" name="coordinates" class="hide-cb"
				value="lon_min=-81.3225&lon_max=-34.7914668341&lat_min=-53.9333&lat_max=12.4547">
			South America (Northern)</label>
		{{!-- lon_min=&lon_max=&lat_min=&lat_max= --}}
		<label for="southern_south_america" class="btn btn-outline-primary"> <input type="checkbox"
				id="southern_south_america" name="coordinates" class="hide-cb"
				value="lon_min=-81.3225&lon_max=-34.7914668341&lat_min=-53.9333&lat_max=12.4547">
			South America (Southern)</label>

		<br>

		<h3>Categories</h3>

		<label for="art_galleries" class="btn btn-outline-primary">
			<input type="checkbox" id="art_galleries" name="categories" value="art_galleries" class="hide-cb">
			Art</label>

		<label for="architecture" class="btn btn-outline-primary">
			<input type="checkbox" id="architecture" name="categories" value="architecture" class="hide-cb">
			Architecture</label>

		<label for="nightclubs" class="btn btn-outline-primary">
			<input type="checkbox" id="nightclubs" name="categories" value="nightclubs" class="hide-cb">
			Night Life</label>

		<label for="natural" class="btn btn-outline-primary">
			<input type="checkbox" id="natural" name="categories" value="natural" class="hide-cb">
			Nature</label>

		<label for="beaches" class="btn btn-outline-primary">Beaches
			<input type="checkbox" id="beaches" name="categories" value="beaches" class="hide-cb">
		</label>

		<label for="hot_springs" class="btn btn-outline-primary">
			<input type="checkbox" id="hot_springs" name="categories" value="hot_springs" class="hide-cb">
			Hot Springs</label>

		<label for="foods" class="btn btn-outline-primary">
			<input type="checkbox" id="foods" name="categories" value="foods" class="hide-cb">
			Food</label>

		<br>

		<label for="shops" class="btn btn-outline-primary">
			<input type="checkbox" id="shops" name="categories" value="shops" class="hide-cb">
			Shopping</label>

		<label for="national_parks" class="btn btn-outline-primary">
			<input type="checkbox" id="national_parks" name="categories" value="national_parks" class="hide-cb">
			National Parks</label>

		<label for="amusement_parks" class="btn btn-outline-primary">
			<input type="checkbox" id="amusement_parks" name="categories" value="amusement_parks" class="hide-cb">
			Amusement Parks</label>

		<label for="water_parks" class="btn btn-outline-primary">
			<input type="checkbox" id="water_parks" name="categories" value="water_parks" class="hide-cb">
			Water Parks</label>

		<label for="skiing" class="btn btn-outline-primary">
			<input type="checkbox" id="skiing" name="categories" value="skiing" class="hide-cb">
			Skiing</label>

		<br>

		<label for="surfing" class="btn btn-outline-primary">
			<input type="checkbox" id="surfing" name="categories" value="surfing" class="hide-cb">
			Surfing</label>

		<label for="museums" class="btn btn-outline-primary">
			<input type="checkbox" id="museums" name="categories" value="museums" class="hide-cb">
			Museums</label>

		<label for="circuses" class="btn btn-outline-primary">
			<input type="checkbox" id="circuses" name="categories" value="circuses" class="hide-cb">
			Circuses</label>

		<label for="gardens_and_parks" class="btn btn-outline-primary">
			<input type="checkbox" id="gardens_and_parks" name="categories" value="gardens_and_parks" class="hide-cb">
			Gardens</label>

		<label for="pyramids" class="btn btn-outline-primary">
			<input type="checkbox" id="pyramids" name="categories" value="pyramids" class="hide-cb">
			Pyramids</label>

		<label for="aquariums" class="btn btn-outline-primary">
			<input type="checkbox" id="aquariums" name="categories" value="aquariums" class="hide-cb">
			Aquariums</label>

		<label for="zoos" class="btn btn-outline-primary">
			<input type="checkbox" id="zoos" name="categories" value="zoos" class="hide-cb">
			Zoos</label>

		<br>

		<label for="bars" class="btn btn-outline-primary">
			<input type="checkbox" id="bars" name="categories" value="bars" class="hide-cb">
			Bars</label>

		<label for="cafes" class="btn btn-outline-primary">
			<input type="checkbox" id="cafes" name="categories" value="cafes" class="hide-cb">
			Cafes</label>

		<label for="bakeries" class="btn btn-outline-primary">
			<input type="checkbox" id="bakeries" name="categories" value="bakeries" class="hide-cb">
			Bakeries</label>

		<label for="archaeology" class="btn btn-outline-primary">
			<input type="checkbox" id="archaeology" name="categories" value="archaeology" class="hide-cb">
			Archaeology</label>

		<label for="waterfalls" class="btn btn-outline-primary">
			<input type="checkbox" id="waterfalls" name="categories" value="waterfalls" class="hide-cb">
			Waterfalls</label>

		<label for="cathedrals" class="btn btn-outline-primary">
			<input type="checkbox" id="cathedrals" name="categories" value="cathedrals" class="hide-cb">
			Cathedrals</label>

		<br><button type="submit" class="btn btn-primary py-2 px-5">Search</button>

	</form>
</div>

<section class="ftco-section-2">
	<div class="container-fluid d-flex">
		<div class="section-2-blocks-wrapper row no-gutters">
			<div class="img col-sm-12 col-lg-6" style="background-image: url('images/tour-1.jpg');">
				{{!-- <a href="https://vimeo.com/45830194" class="button popup-vimeo"><span class="ion-ios-play"></span></a> --}}
			</div>
			<div class="text col-lg-6 ftco-animate">
				<div class="text-inner align-self-start">

					<h3>Welcome to Bon Voyage since 1898 established Far far away.</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
						blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
						ocean.</p>

					<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
						paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 promo ftco-animate">
				<a href="#" class="promo-img mb-4" style="background-image: url(images/promo-1.jpg);"></a>
				<div class="text text-center">
					<h2>Group Cruises</h2>
					<h3 class="price"><span>from</span> $299</h3>
					<a href="#" class="read">Read more</a>
				</div>
			</div>
			<div class="col-lg-3 promo ftco-animate">
				<a href="#" class="promo-img mb-4" style="background-image: url(images/promo-2.jpg);"></a>
				<div class="text text-center">
					<h2>Beach Tours</h2>
					<h3 class="price"><span>from</span> $199</h3>
					<a href="#" class="read">Read more</a>
				</div>
			</div>
			<div class="col-lg-3 promo ftco-animate">
				<a href="#" class="promo-img mb-4" style="background-image: url(images/promo-3.jpg);"></a>
				<div class="text text-center">
					<h2>Mountain Tours</h2>
					<h3 class="price"><span>from</span> $179</h3>
					<a href="#" class="read">Read more</a>
				</div>
			</div>
			<div class="col-lg-3 promo ftco-animate">
				<a href="#" class="promo-img mb-4" style="background-image: url(images/promo-3.jpg);"></a>
				<div class="text text-center">
					<h2>Family Tours</h2>
					<h3 class="price"><span>from</span> $599</h3>
					<a href="#" class="read">Read more</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section bg-light">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-5">
			<div class="col-md-7 text-center heading-section ftco-animate">
				<h2>Our Services</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">
					<div class="d-flex justify-content-center">
						<div class="icon d-flex justify-content-center mb-3"><span
								class="align-self-center flaticon-sailboat"></span></div>
					</div>
					<div class="media-body p-2">
						<h3 class="heading">Special Activities</h3>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">
					<div class="d-flex justify-content-center">
						<div class="icon d-flex justify-content-center mb-3"><span class="align-self-center flaticon-around"></span>
						</div>
					</div>
					<div class="media-body p-2">
						<h3 class="heading">Travel Arrangements</h3>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">
					<div class="d-flex justify-content-center">
						<div class="icon d-flex justify-content-center mb-3"><span
								class="align-self-center flaticon-compass"></span></div>
					</div>
					<div class="media-body p-2">
						<h3 class="heading">Private Guide</h3>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block text-center">
					<div class="d-flex justify-content-center">
						<div class="icon d-flex justify-content-center mb-3"><span
								class="align-self-center flaticon-map-of-roads"></span></div>
					</div>
					<div class="media-body p-2">
						<h3 class="heading">Location Manager</h3>
						<p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{{!-- <section class="ftco-section">
	<div class="container-fluid">
		<div class="row no-gutters justify-content-center mb-5 pb-5 ftco-animate">
			<div class="col-md-7 text-center heading-section">
				<h2>Most Popular Destination</h2>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="col-md-6 col-lg-3 ftco-animate">
				<a href="#" class="block-5" style="background-image: url('images/tour-1.jpg');">
					<div class="text">
						<span class="price">$399</span>
						<h3 class="heading">Group Tour in Maldives</h3>
						<div class="post-meta">
							<span>Ameeru Ahmed Magu Male’, Maldives</span>
						</div>
						<p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span
								class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span>
							<span>500 reviews</span></p>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<a href="#" class="block-5" style="background-image: url('images/tour-2.jpg');">
					<div class="text">
						<span class="price">$399</span>
						<h3 class="heading">Group Tour in Maldives</h3>
						<div class="post-meta">
							<span>Ameeru Ahmed Magu Male’, Maldives</span>
						</div>
						<p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span
								class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span>
							<span>500 reviews</span></p>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<a href="#" class="block-5" style="background-image: url('images/tour-3.jpg');">
					<div class="text">
						<span class="price">$399</span>
						<h3 class="heading">Group Tour in Maldives</h3>
						<div class="post-meta">
							<span>Ameeru Ahmed Magu Male’, Maldives</span>
						</div>
						<p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span
								class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span>
							<span>500 reviews</span></p>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<a href="#" class="block-5" style="background-image: url('images/tour-4.jpg');">
					<div class="text">
						<span class="price">$399</span>
						<h3 class="heading">Group Tour in Maldives</h3>
						<div class="post-meta">
							<span>Ameeru Ahmed Magu Male’, Maldives</span>
						</div>
						<p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span
								class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span>
							<span>500 reviews</span></p>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<a href="#" class="block-5" style="background-image: url('images/tour-5.jpg');">
					<div class="text">
						<span class="price">$399</span>
						<h3 class="heading">Group Tour in Maldives</h3>
						<div class="post-meta">
							<span>Ameeru Ahmed Magu Male’, Maldives</span>
						</div>
						<p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span
								class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span>
							<span>500 reviews</span></p>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<a href="#" class="block-5" style="background-image: url('images/tour-6.jpg');">
					<div class="text">
						<span class="price">$399</span>
						<h3 class="heading">Group Tour in Maldives</h3>
						<div class="post-meta">
							<span>Ameeru Ahmed Magu Male’, Maldives</span>
						</div>
						<p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span
								class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span>
							<span>500 reviews</span></p>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<a href="#" class="block-5" style="background-image: url('images/tour-7.jpg');">
					<div class="text">
						<span class="price">$399</span>
						<h3 class="heading">Group Tour in Maldives</h3>
						<div class="post-meta">
							<span>Ameeru Ahmed Magu Male’, Maldives</span>
						</div>
						<p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span
								class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span>
							<span>500 reviews</span></p>
					</div>
				</a>
			</div>
			<div class="col-md-6 col-lg-3 ftco-animate">
				<a href="#" class="block-5" style="background-image: url('images/tour-8.jpg');">
					<div class="text">
						<span class="price">$399</span>
						<h3 class="heading">Group Tour in Maldives</h3>
						<div class="post-meta">
							<span>Ameeru Ahmed Magu Male’, Maldives</span>
						</div>
						<p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span
								class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span>
							<span>500 reviews</span></p>
					</div>
				</a>
			</div>
		</div>
	</div>
</section> --}}

{{!-- <section class="ftco-section testimony-section">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-5">
			<div class="col-md-7 text-center heading-section ftco-animate">
				<h2>Our Satisfied Guests says</h2>
			</div>
		</div>
		<div class="row ftco-animate">
			<div class="carousel owl-carousel ftco-owl">
				<div class="item text-center">
					<div class="testimony-wrap p-4 pb-5">
						<div class="user-img mb-4" style="background-image: url(images/person_1.jpg)"
							style="border: 1px solid red;"></div>
						<div class="text">
							<p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span
									class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span></p>
							<p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
								there live the blind texts.</p>
							<p class="name">Dennis Green</p>
							<span class="position">Guests from Italy</span>
						</div>
					</div>
				</div>
				<div class="item text-center">
					<div class="testimony-wrap p-4 pb-5">
						<div class="user-img mb-4" style="background-image: url(images/person_2.jpg)"
							style="border: 1px solid red;"></div>
						<div class="text">
							<p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span
									class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span></p>
							<p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
								there live the blind texts.</p>
							<p class="name">Dennis Green</p>
							<span class="position">Guests from Italy</span>
						</div>
					</div>
				</div>
				<div class="item text-center">
					<div class="testimony-wrap p-4 pb-5">
						<div class="user-img mb-4" style="background-image: url(images/person_3.jpg)"
							style="border: 1px solid red;"></div>
						<div class="text">
							<p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span
									class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span></p>
							<p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
								there live the blind texts.</p>
							<p class="name">Dennis Green</p>
							<span class="position">Guests from Italy</span>
						</div>
					</div>
				</div>
				<div class="item text-center">
					<div class="testimony-wrap p-4 pb-5">
						<div class="user-img mb-4" style="background-image: url(images/person_1.jpg)"
							style="border: 1px solid red;"></div>
						<div class="text">
							<p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span
									class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span></p>
							<p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
								there live the blind texts.</p>
							<p class="name">Dennis Green</p>
							<span class="position">Guests from Italy</span>
						</div>
					</div>
				</div>
				<div class="item text-center">
					<div class="testimony-wrap p-4 pb-5">
						<div class="user-img mb-4" style="background-image: url(images/person_1.jpg)"
							style="border: 1px solid red;"></div>
						<div class="text">
							<p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span
									class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span></p>
							<p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
								there live the blind texts.</p>
							<p class="name">Dennis Green</p>
							<span class="position">Guests from Italy</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> --}}

{{!-- <section class="ftco-section">
	<div class="container-fluid">
		<div class="row mb-5 pb-5 no-gutters">
			<div class="col-lg-4 bg-light p-3 p-md-5 d-flex align-items-center heading-section ftco-animate">
				<div>
					<h2 class="mb-5 pb-3">Want to get our hottest travel deals top tips and advice? Subscribe us now!</h2>
					<form action="#" class="subscribe-form">
						<div class="form-group">
							<span class="icon icon-paper-plane"></span>
							<input type="text" class="form-control" placeholder="Enter your email address">
						</div>
					</form>
				</div>
			</div>
			<div class="col-lg-8 p-2 pl-md-5 heading-section">
				<h2 class="mb-5 p-2 pb-3 ftco-animate">Most Recommended Hotels</h2>
				<div class="row no-gutters d-flex">
					<div class="col-md-4 ftco-animate">
						<a href="#" class="block-5" style="background-image: url('images/hotel-1.jpg');">
							<div class="text">
								<span class="price">$29/night</span>
								<h3 class="heading">Luxe Hotel</h3>
								<div class="post-meta">
									<span>Ameeru Ahmed Magu Male’, Maldives</span>
								</div>
								<p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span
										class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span>
									<span>500 reviews</span></p>
							</div>
						</a>
					</div>
					<div class="col-md-4 ftco-animate">
						<a href="#" class="block-5" style="background-image: url('images/hotel-2.jpg');">
							<div class="text">
								<span class="price">$29/night</span>
								<h3 class="heading">Deluxe Hotel</h3>
								<div class="post-meta">
									<span>Ameeru Ahmed Magu Male’, Maldives</span>
								</div>
								<p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span
										class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span>
									<span>500 reviews</span></p>
							</div>
						</a>
					</div>
					<div class="col-md-4 ftco-animate">
						<a href="#" class="block-5" style="background-image: url('images/hotel-3.jpg');">
							<div class="text">
								<span class="price">$29/night</span>
								<h3 class="heading">Deluxe Hotel</h3>
								<div class="post-meta">
									<span>Ameeru Ahmed Magu Male’, Maldives</span>
								</div>
								<p class="star-rate"><span class="icon-star"></span><span class="icon-star"></span><span
										class="icon-star"></span><span class="icon-star"></span><span class="icon-star-half-full"></span>
									<span>500 reviews</span></p>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> --}}

{{!-- <section class="ftco-section bg-light">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-5">
			<div class="col-md-7 text-center heading-section ftco-animate">
				<h2>Our Blog</h2>
			</div>
		</div>
		<div class="row ftco-animate">
			<div class="carousel1 owl-carousel ftco-owl">
				<div class="item">
					<div class="blog-entry">
						<a href="blog-single.html" class="block-20" style="background-image: url('images/image_5.jpg');">
						</a>
						<div class="text p-4">
							<div class="meta">
								<div><a href="#">July 7, 2018</a></div>
								<div><a href="#">Admin</a></div>
							</div>
							<h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a>
							</h3>
							<p class="clearfix">
								<a href="#" class="float-left">Read more</a>
								<a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
							</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="blog-entry" data-aos-delay="100">
						<a href="blog-single.html" class="block-20" style="background-image: url('images/image_6.jpg');">
						</a>
						<div class="text p-4">
							<div class="meta">
								<div><a href="#">July 7, 2018</a></div>
								<div><a href="#">Admin</a></div>
							</div>
							<h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a>
							</h3>
							<p class="clearfix">
								<a href="#" class="float-left">Read more</a>
								<a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
							</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="blog-entry" data-aos-delay="200">
						<a href="blog-single.html" class="block-20" style="background-image: url('images/image_7.jpg');">
						</a>
						<div class="text p-4">
							<div class="meta">
								<div><a href="#">July 7, 2018</a></div>
								<div><a href="#">Admin</a></div>
							</div>
							<h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a>
							</h3>
							<p class="clearfix">
								<a href="#" class="float-left">Read more</a>
								<a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
							</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="blog-entry" data-aos-delay="200">
						<a href="blog-single.html" class="block-20" style="background-image: url('images/image_8.jpg');">
						</a>
						<div class="text p-4">
							<div class="meta">
								<div><a href="#">July 7, 2018</a></div>
								<div><a href="#">Admin</a></div>
							</div>
							<h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a>
							</h3>
							<p class="clearfix">
								<a href="#" class="float-left">Read more</a>
								<a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
							</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="blog-entry" data-aos-delay="200">
						<a href="blog-single.html" class="block-20" style="background-image: url('images/image_8.jpg');">
						</a>
						<div class="text p-4">
							<div class="meta">
								<div><a href="#">July 7, 2018</a></div>
								<div><a href="#">Admin</a></div>
							</div>
							<h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a>
							</h3>
							<p class="clearfix">
								<a href="#" class="float-left">Read more</a>
								<a href="#" class="float-right meta-chat"><span class="icon-chat"></span> 3</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section> --}}