body {
  margin: 0;
  padding: 0;
}

/* main page (index) */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.separator {
  background-color: #ff5f5f;
  color: #fff;
  font-size: 40px;
  width: 100%;
  min-height: 150px;
}

.categories {
  max-width: 600px;
}

/* destination list */
.destination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.destination {
  padding-top: 4rem;
}

.hide-cb {
  display: none;
}

.heart-icon {
  float: right;
  transition: all .2s ease-in-out;
}

.heart-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.back-btn {
  margin: 1rem;
}

/* posts */
.nav-tabs li {
  margin: 0.5rem;
}

/* city details*/
.about-city {
  padding: 2rem 1rem;
}

/* login form */
.text-center {
  text-align: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 2rem auto;
}

/* user profile */
.profile-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}

.profile-inner {
  width: 1000px;
  display: flex;
  flex-direction: column;
}

.profile-image{
  width: 350px;
  height: 350px;
}

.small-nav {
  height: 100px;
  background-color:#ff5f5f;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 140px;
}

/* errors */
.error-container {
  display: flex;
  justify-content: center;
}

.error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-size: 2rem;
}

/* edit comment */ 

#edit-comment {
  margin: 0 25%;
}

#edit-comment textarea {
  width: 100%;
}

.owl-carousel .owl-stage, .owl-carousel.owl-drag .owl-item{
  -ms-touch-action: auto;
      touch-action: auto;
}

@media only screen and (max-width: 767px) {
  #edit-comment {
    margin: 0 10%;
  }
}

/* contact */

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.inner-contact {
  width: 40%;
}