body {
  margin: 0;
  padding: 0;
}

/* main page (index) */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.separator {
  background-color: #ff5f5f;
  color: #fff;
  font-size: 40px;
  width: 100%;
  height: 150px;
}

/* destination list */
.destination-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.destination {
  padding-top: 4rem;
}

.hide-cb {
  display: none;
}

.heart-icon {
  float: right;
  transition: all .2s ease-in-out;
}

.heart-icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* posts */
.nav-tabs li {
  margin: 0.5rem;
}

/* city details*/
.about-city {
  padding: 2rem 1rem;
}

/* login form */
.text-center {
  text-align: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 2rem auto;
}

/* user profile */
.profile-image img {
  width: 100px;
  height: 100px;
}