<section class="home-slider owl-carousel">
  <div class="slider-item" style="background-image: url({{ city.info.img }});" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text align-items-center">
        <div class="col-md-7 col-sm-12 ftco-animate">
          <h1 class="mb-3">{{ city.info.city }}, {{ city.info.country }}</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container about-city">
  <h4>About</h4>
  <p>{{ city.description }}</p>
</div>

<div class="container">
  <h4>Leave your comment</h4>

  <ul class="nav nav-tabs">
    <li class="nav active"><a data-toggle="tab" href="#comments">Comments</a>
    <li class="nav"><a data-toggle="tab" href="#add-comment">Add Comment</a></li>
  </ul>

  <div class="tab-content">
    <div id="comments" class="tab-pane active">
      <h3>Comments</h3>

      <div class="media border p-3">
        <img src="img_avatar3.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
          <h4>John Doe <small><i>Posted on February 19, 2016</i></small></h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nobis beatae, officiis similique omnis delectus doloremque ullam illo excepturi ipsa.</p>
        </div>
      </div>

      <div class="media border p-3">
        <img src="img_avatar3.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:60px;">
        <div class="media-body">
          <h4>John Doe <small><i>Posted on February 19, 2016</i></small></h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nobis beatae, officiis similique omnis delectus doloremque ullam illo excepturi ipsa.</p>
        </div>
      </div>
      
    </div>
    <div id="add-comment" class="tab-pane fade">
      <h3>Add a comment</h3>
      <br>
      <form action="#" method="post" class="form-horizontal" id="commentForm" role="form">

        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Comment</label>
            <div class="col-sm-10">
              <textarea class="form-control" name="addComment" id="addComment" rows="5"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">                    
                <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> Summit comment</button>
            </div>
        </div>

      </form>
    </div>
  </div>
</div>