{{#each places}}
<div class="destination-list">
  <div class="destination">
    <h2>{{this.name}}, {{this.country_name}}</h2>
  </div>
  <div>
    <h4>Rating: {{this.rate}}</h4>
  </div>
  <img width="550" height="350" src={{this.img}}>
</div>
{{/each}}