<section class="home-slider owl-carousel">
  <div class="slider-item" style="background-image: url('images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row slider-text align-items-center">
        <div class="col-md-7 col-sm-12 ftco-animate">
          <h1 class="mb-3">About</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
	<div class="container">
		<h1 class="text-center">Text</h1><br>
		<div class="row">
				
			<div class="col-lg-3 promo ftco-animate">
				<div class="text text-center">
				Text
				</div>
			</div>
			<div class="col-lg-3 promo ftco-animate">
				<div class="text text-center">
					Text
				</div>
			</div>
			<div class="col-lg-3 promo ftco-animate">
				<div class="text text-center">
					Text
				</div>
			</div>
			<div class="col-lg-3 promo ftco-animate">
				<div class="text text-center">
				Text
				</div>
			</div>
		</div>
	</div>
</section>