<div class="main">
  <form action="/blog/create" method="post" enctype="multipart/form-data">
    <h3>Title</h3>
    <input type="text" name="title"/><br>

    <h3>Content</h3>
    <textarea name="content" cols="50" rows="10"></textarea><br>

    <h3>Blog post image</h3>
    <input type="file" name="image"/><br>

    <br>
    <button>Post blog</button>
  </form>
</div>