<form action="/profile/update" method="post" enctype="multipart/form-data">
  <label>Username
      <input type="text" name="username" placeholder="{{ user.username }}" />
    </label>

    <label>Email
      <input type="email" name="email" placeholder="{{ user.email }}" />
    </label>

    {{!-- <label>Password
      <input type="password" name="password" placeholder="********" />
    </label> --}}

    <label>Upload profile image
      <input type="file" name="image"/>
    </label>
    

    <button type="submit">Update Profile</button>
</form>