<div class="small-nav"></div>
<br>
<div id="edit-comment" class="main">
  <form action="/post/edit/{{ post._id }}" method="post">
    <h3>Your Comment</h3>
    <textarea maxlength="300" name="content" cols="50" rows="5">{{ post.content }}</textarea>
    <br>
    <button class="btn btn-primary btn-circle text-uppercase">Update</button>
  </form>
</div>
<br>